In [2]:
삼성전자 = 50000
총평가금액 = 삼성전자 * 10
print(총평가금액)

500000

In [3]:
시가총액 = 29800000000
현재가 = 50000
PER = 15.79

In [5]:
s = "hello"
t = "python"
print(s + ": " + t)

hello: python

In [6]:
print(2 + 2 * 3)

8

In [7]:
a = "132"
print(type(a))

<class 'str'>

In [15]:
num = 100
print(str(num), ": ", type(str(num)))

100 :  <class 'str'>

In [17]:
num = 100
print(float(num), ": ", type(float(num)))

100.0 :  <class 'float'>

In [19]:
year = "2020"
print(int(year) - 2)
print(int(year) - 1)
print(int(year))

2018
2019
2020

In [20]:
price = 48584
print(price * 36)

1749024