In [3]:
#21
letters="python"
print(letters[0], letters[2])

p t

In [4]:
#22
license_plate ="24가 2218"
print(license_plate[-4:])

2218

In [5]:
#23
string = "홀짝홀짝홀짝"
print(string[::2])

홀홀홀

In [6]:
#24
string="PYTHON"
print(string[::-1])

NOHTYP

In [7]:
#25
phone_number="010-1111-2222"
pn = phone_number.replace("-", " ")
print(pn)

010 1111 2222

In [8]:
#26
phone_number="010-1111-2222"
pn = phone_number.replace("-", "")
print(pn)

01011112222

In [9]:
#27
url = "http://sharebook.kr"
url_split = url.split(".")
print(url_split[-1])

kr

In [ ]:
#28
lang = "python"
lang[0] = "P"
>> cannot replace string letter

In [10]:
#29
string = 'abcdfe2a354a32a'
print(string.replace("a", "A"))

Abcdfe2A354A32A

In [17]:
#30
string = "abcd"
string.replace("b", "B")
# Will return aBcd as new temporary string
print(string)
# will print abcd

abcd

In [18]:
#31
a = "3"
b = "4"
print(a + b)
# will print "34"

34

In [ ]:
#32
print("Hi" + 3)
# cannot add string with integer

In [20]:
#33
print('-'*80)

--------------------------------------------------------------------------------

In [25]:
#34
t1 = "python"
t2 = "java"
print((t1 + " " + t2 + " ") * 4)

python java python java python java python java

In [28]:
#35
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: %s, 나이: %d" %(name1, age1))
print("이름: %s, 나이: %d" %(name2, age2))

이름: 김민수, 나이: 10
이름: 이철희, 나이: 13

In [31]:
#36
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: {}, 나이: {}".format(name1, age1))
print("이름: {}, 나이: {}".format(name2, age2))

이름: 김민수, 나이: 10
이름: 이철희, 나이: 13

In [38]:
#37
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print(f"이름: {name1}, 나이: {age1}")
print(f"이름: {name2}, 나이: {age2}")

이름: 김민수, 나이: 10
이름: 이철희, 나이: 13

In [41]:
#38
상장주식수 = "5,969,782,550"
새_상장 = int(상장주식수.replace(",", ""))
print(새_상장, type(새_상장))

5969782550 <class 'int'>

In [46]:
#39
분기 = "2020/03(E) (IFRS연결)"
분기나누기 = 분기[:7]
print(분기나누기)

2020/03

In [47]:
#40
data = "   삼성전자    "
print(data.strip())

삼성전자

In [49]:
#41
ticker = "btc_krw"
print(ticker.upper())

BTC_KRW

In [50]:
#42
ticker = "BTC_KRW"
print(ticker.lower())

btc_krw

In [51]:
#43
string = "hello"
print(string.capitalize())

Hello

In [62]:
#44
file_name = "보고서.xlsx"
print(file_name.endswith(".xlsx"))

True

In [63]:
#45
file_name = "보고서.xlsx"
print(file_name.endswith((".xlsx", ".xls")))

True

In [65]:
#46
file_name = "2020_보고서.xlsx"
print(file_name.startswith("2020"))

False

In [68]:
#47
s = "Hello world"
print(s.split())

['Hello', 'world']

In [71]:
#38
ticker = "btc_krw"
print(ticker.split('_'))

['btc', 'krw']

In [73]:
#49
date = "2020-05-01"
print(date.split("-"))

['2020', '05', '01']

In [75]:
#50
data = "039490     "
print(data.rstrip())

0

In [87]:
#51
movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]

In [93]:
#52
movie_rank.append("배트맨")
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨', '배트맨']

In [94]:
#53
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
movie_rank.insert(1, "배트맨")
print(movie_rank)

['닥터 스트레인지', '배트맨', '스플릿', '럭키', '배트맨']

In [95]:
#54
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
movie_rank.remove("럭키")
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [98]:
#55
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
movie_rank.remove("스플릿")
movie_rank.remove("배트맨")
print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

In [100]:
#56
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
print(lang1 + lang2)

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [104]:
#57
nums = [1, 2, 3, 4, 5, 6, 7]
print("max:", max(nums))
print("min:", min(nums))

max: 7
min: 1

In [105]:
#58
nums = [1, 2, 3, 4, 5]
print(sum(nums))

15

In [111]:
#59
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", 
        "김치만두", "쫄면", "쏘세지", "라면", "팥빙수", "김치전"]
print(len(cook))

12

In [116]:
#60
nums = [1, 2, 3, 4, 5]
print(sum(nums) / len(nums))

3.0