In [14]:
#131
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)
## 과일이 각각 출력

사과
귤
수박

In [15]:
#132
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print("#####")
##### 이 3번 출력됨

#####
#####
#####

In [16]:
#133
print("A")
print("B")
print("C")

A
B
C

In [17]:
#134
print("출력", "A", sep=": ")
print("출력", "B", sep=": ")
print("출력", "C", sep=": ")

출력: A
출력: B
출력: C

In [18]:
#135

print("변환", "A".lower(), sep=": ")
print("변환", "B".lower(), sep=": ")
print("변환", "C".lower(), sep=": ")

변환: a
변환: b
변환: c

In [19]:
#136

변수 = [10,20,30]
for i in 변수:
    print(i)

10
20
30

In [20]:
#137

for i in [10,20,30]:
    print(i)

10
20
30

In [21]:
#138
for i in [10,20,30]:
    print(i)
    print("-------")

10
-------
20
-------
30
-------

In [23]:
#139
print("++++")
for i in [10,20,30]:
    print(i)

++++
10
20
30

In [25]:
#140
for i in range(4):
    print("-------")

-------
-------
-------
-------

In [26]:
#141
리스트 = [100, 200, 300]
for list in 리스트:
    print(list+10)

110
210
310

In [27]:
#142
리스트 = ["김밥", "라면", "튀김"]
for list in 리스트:
    print("오늘의 메뉴:", list)

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [28]:
#143
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
for list in 리스트:
    print(len(list))

6
4
4

In [29]:
#144
리스트 = ['dog', 'cat', 'parrot']
for list in 리스트:
    print(list, len(list))

dog 3
cat 3
parrot 6

In [30]:
#145
리스트 = ['dog', 'cat', 'parrot']
for list in 리스트:
    print(list[0])

d
c
p

In [66]:
#146
리스트 = [1, 2, 3]
for list in 리스트:
    print("3 *", list)

3 x 1
3 x 2
3 x 3

In [67]:
#147
리스트 = [1, 2, 3]
for list in 리스트:
    print("3 *", list, "=", list*3)

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [35]:
#148
리스트 = ["가", "나", "다", "라"]
for list in 리스트[1:]:
    print(list)

나
다
라

In [36]:
#149
리스트 = ["가", "나", "다", "라"]
for list in 리스트[::2]:
    print(list)

가
다

In [37]:
#150
리스트 = ["가", "나", "다", "라"]
for list in 리스트[::-1]:
    print(list)

라
다
나
가

In [38]:
#151
리스트 = [3, -20, -3, 44]
for list in 리스트:
    if (list < 0):
        print(list)

-20
-3

In [41]:
#152
리스트 = [3, 100, 23, 44]
for list in 리스트:
    if list % 3 == 0:
        print(list)

3

In [46]:
#153
리스트 = [13, 21, 12, 14, 30, 18]
for list in 리스트:
    if ((list < 20) and (list % 3 == 0)):
        print(list)

12
18

In [47]:
#154
리스트 = ["I", "study", "python", "language", "!"]
for list in 리스트:
    if len(list) >= 3:
        print(list)

study
python
language

In [50]:
#155
리스트 = ["A", "b", "c", "D"]
for list in 리스트:
    if list.isupper():
#     if list.upper() == list:
        print(list)

A
D

In [52]:
#156
리스트 = ["A", "b", "c", "D"]
for list in 리스트:
#     if not list.isupper():
    if list.islower():
        print(list)

A
D

In [54]:
#157
리스트 = ['dog', 'cat', 'parrot']
for list in 리스트:
#     print(변수[0].upper() + 변수[1:])
    print(list.capitalize())

Dog
Cat
Parrot

In [56]:
#158
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']
for list in 리스트:
    print(list.split('.')[0])

hello
ex01
intro

In [58]:
#159
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for list in 리스트:
    if list.split('.')[1] == 'h':
        print(list)

intra.h
define.h

In [60]:
#160
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']
for list in 리스트:
    extend = list.split('.')[1]
    if (extend == 'h' or extend == 'c'):
        print(list)

intra.h
intra.c
define.h

In [63]:
#161
for i in range(100):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [65]:
#162
for i in range(2002, 2051, 4):
    print(i)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [66]:
#163
for i in range(3, 31, 3):
    print(i)

3
6
9
12
15
18
21
24
27
30

In [68]:
#164
for i in range(99, -1, -1):
    print(i)

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [70]:
#165
for i in range(10):
    print(i / 10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [71]:
#166
for i in range(1, 10):
    print("3 *", i, "=", 3*i)

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

In [72]:
#167
for i in range(1, 10, 2):
    print("3 *", i, "=", 3*i)

3 * 1 = 3
3 * 3 = 9
3 * 5 = 15
3 * 7 = 21
3 * 9 = 27

In [73]:
#168
sum = 0
for i in range(10):
    sum += (i+1)
print("합 :", sum)

합 : 55

In [76]:
#169
sum = 0
for i in range(1, 11, 2):
    sum += i
print("합 :", sum)

합 : 25

In [77]:
#170
mul = 1
for i in range(10):
    mul *= (i+1)
print(mul)

3628800

In [2]:
#171
price_list = [32100, 32150, 32000, 32500]
for i in range(len(price_list)):
    print(price_list[i])

32100
32150
32000
32500

In [3]:
#172
price_list = [32100, 32150, 32000, 32500]
for i in range(len(price_list)):
    print(i, price_list[i])

0 32100
1 32150
2 32000
3 32500

In [5]:
#173
price_list = [32100, 32150, 32000, 32500]
for i in range(len(price_list)):
    print(len(price_list)-i-1, price_list[i])

3 32100
2 32150
1 32000
0 32500

In [9]:
#174
price_list = [32100, 32150, 32000, 32500]
for i in range(1, len(price_list)):
    print(10*(i+9), price_list[i])

100 32150
110 32000
120 32500

In [10]:
#175
my_list = ["가", "나", "다", "라"]
for i in range(len(my_list)-1):
    print(my_list[i], my_list[i+1])

가 나
나 다
다 라

In [11]:
#176
my_list = ["가", "나", "다", "라", "마"]
for i in range(len(my_list)-2):
    print(my_list[i], my_list[i+1], my_list[i+2])

가 나 다
나 다 라
다 라 마

In [12]:
#177
my_list = ["가", "나", "다", "라"]
for i in range(len(my_list)-1, 0, -1):
    print(my_list[i], my_list[i-1])

라 다
다 나
나 가

In [16]:
#178
my_list = [100, 200, 400, 800]
for i in range(len(my_list)-1):
    print(abs(my_list[i+1]-my_list[i]))

100
200
400

In [17]:
#179
my_list = [100, 200, 400, 800, 1000, 1300]
avg = 0
for i in range(len(my_list)-2):
    avg = my_list[i] + my_list[i+1] + my_list[i+2]
    print(avg/3)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [22]:
#180
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]
volatility = []
for i in range(len(low_prices)):
    volatility.append(high_prices[i] - low_prices[i])
print(volatility)

[50, 100, 30, 80, 0]

In [23]:
#181
apart = [['101호', '102호'], ['201호', '202호'], ['301호', '302호']]

In [26]:
#182
stock = [["시가", 100, 200, 300], ["총가", 80, 210, 330]]

In [27]:
#183
stock = {'시가': [100,200,300], '총가': [80,210,330]}

In [35]:
#184
stock = {'10/10': [80,110,70,90], '10/11': [210,230,190,200]}

In [36]:
#185
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart:
    for col in row:
        print(col, "호")

101 호
102 호
201 호
202 호
301 호
302 호

In [40]:
#186
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart[::-1]:
    for col in row:
        print(col, "호")

301 호
302 호
201 호
202 호
101 호
102 호

In [41]:
#187
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart[::-1]:
    for col in row[::-1]:
        print(col, "호")

302 호
301 호
202 호
201 호
102 호
101 호

In [43]:
#188
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart:
    for col in row:
        print(col, "호")
        print("-----")

101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----

In [44]:
#189
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart:
    for col in row:
        print(col, "호")
    print("-----")

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

In [45]:
#190
apart = [ [101, 102], [201, 202], [301, 302] ]
for row in apart:
    for col in row:
        print(col, "호")
print("-----")

101 호
102 호
201 호
202 호
301 호
302 호
-----

In [47]:
#191
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
for row in data:
    for col in row:
        print(col * 1.00014)

2000.28
3050.427
2050.2870000000003
1980.2772
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
15452.163
15052.107
15552.177
14902.086000000001

In [49]:
#192
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
for row in data:
    for col in row:
        print(col * 1.00014)
    print("-----")

2000.28
3050.427
2050.2870000000003
1980.2772
-----
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
-----
15452.163
15052.107
15552.177
14902.086000000001
-----

In [50]:
#193
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
result = []
for row in data:
    for col in row:
        result.append(col * 1.00014)
print(result)

[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086000000001]

In [53]:
#194
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
result = []
for row in data:
    sub = []
    for col in row:
        sub.append(col * 1.00014)
    result.append(sub)
print(result)

[[2000.28, 3050.427, 2050.2870000000003, 1980.2772], [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772], [15452.163, 15052.107, 15552.177, 14902.086000000001]]

In [58]:
#195
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for row in ohlc[1:]:
    print(row[-1])

100
190
310

In [56]:
#196
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for row in ohlc[1:]:
    if row[-1] > 150:
        print(row[-1])

190
310

In [59]:
#197
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for row in ohlc[1:]:
    if row[-1] >= row[0]:
        print(row[-1])

100
310

In [61]:
#198
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
volatility = []
for row in ohlc[1:]:
    volatility.append(row[1] - row[2])
print(volatility)

[40, 30, 10]

In [63]:
#199
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for row in ohlc[1:]:
    if row[-1] > row[0]:
        print(row[1] - row[2])

10

In [65]:
#200
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
sum = 0
for row in ohlc[1:]:
    sum += row[-1] - row[0]
print(sum)

0