In [4]:
#21
letters = 'python'
print(letters[0], letters[2])

p t

In [5]:
#22
license_plate = "24가 2210"
print(license_plate[-4:])

2210

In [6]:
#23
string = "홀짝홀짝홀짝"
print(string[::2])

홀홀홀

In [7]:
#24
string = "PYTHON"
print(string[::-1])

NOHTYP

In [9]:
#25
phone_number = "010-1111-2222"
print(phone_number.replace("-", " "))

010 1111 2222

In [10]:
#26
phone_number = "010-1111-2222"
print(phone_number.replace("-", ""))

01011112222

In [11]:
#27
url = "http://sharebook.kr"
print(url.split(".")[1])

kr

28
결과예상
실행안됨: string은 immutable

In [12]:
#28
#실행결과
lang = 'python'
lang[0] = 'P'
print(lang)

TypeError: 'str' object does not support item assignment

In [13]:
#29
string = 'abcdfe2a354a32a'
print(string.replace("a", "A"))

Abcdfe2A354A32A

30
결과예상
abcd

In [14]:
#30
#실행결과
string = 'abcd'
string.replace('b', 'B')
print(string)

abcd

31
결과예상
34

In [15]:
#31
#실행결과
a = "3"
b = "4"
print(a + b)

34

32 결과예상
HiHiHi

In [16]:
#32
#실행결과
print("Hi" * 3)

HiHiHi

In [17]:
#33
print("-" * 80)

--------------------------------------------------------------------------------

In [19]:
#34
t1 = 'python'
t2 = 'java'
t3 = t1 + " " + t2 + " "
print(t3 * 4)

python java python java python java python java

In [21]:
#35
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: %s 나이: %d" % (name1, age1))
print("이름: %s 나이: %d" % (name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [22]:
#36
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: {} 나이: {}".format(name1, age1))
print("이름: {} 나이: {}".format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [23]:
#37
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [26]:
#38
상장주식수 = "5,969,782,550"
new = int(상장주식수.replace(",", ""))
print("{} type: {}".format(new, type(new)))

5969782550 type: <class 'int'>

In [28]:
#39
분기 = "2020/03(E) (IFRS연결)"
print(분기[:7])

2020/03

In [29]:
#40
data = "   삼성전자    "
print(data.strip())

삼성전자

In [30]:
#41
ticker = "btc_krw"
print(ticker.upper())

BTC_KRW

In [31]:
#42
ticker = "BTC_KRW"
print(ticker.lower())

btc_krw

In [32]:
#43
str = "hello"
print(str.capitalize())

Hello

In [42]:
#44
file_name = "보고서.xlsx"
print(file_name.endswith('xlsx'))

True

In [36]:
#45
file_name = "보고서.xlsx"
print(file_name.endswith('xlsx') or file_name.endswith("xls"))

True

In [43]:
#46
file_name = "2020_보고서.xlsx"
print(file_name.startswith("2020"))

True

In [45]:
#47
a = "hello world"
print(a.split(" "))

['hello', 'world']

In [46]:
#48
ticker = "btc_krw"
print(ticker.split("_"))

['btc', 'krw']

In [47]:
#49
date = "2020-05-01"
print(date.split("-"))

['2020', '05', '01']

In [48]:
#50
data = "039490     "
print(data.rstrip())

039490