In [2]:
#1
print("Hello World")

Hello World

In [3]:
#2
print("Mary's cosmetics")

Mary's cosmetics

In [4]:
#3
print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [5]:
#4
print("C:\Windows")

C:\Windows

In [6]:
#5
print("안녕하세요.\n만나서\t\t반갑습니다.")
# \n: change line
# \t: add indent tap between letter

안녕하세요.
만나서		반갑습니다.

In [7]:
#6
print("오늘은", "일요일")

오늘은 일요일

In [8]:
#7
print("naver", "kakao", "sk", "samsung", sep=";")

naver;kakao;sk;samsung

In [9]:
#8
print("naver", "kakao", "sk", "samsung", sep="/")

naver/kakao/sk/samsung

In [10]:
#9
print("first", end="");print("second")

firstsecond

In [11]:
#10
print(5/3)

1.6666666666666667

In [12]:
#11
삼성전자 = 50000
총평가금액 = 삼성전자 * 10
print(총평가금액)

500000

In [2]:
#12
시가총액 = 29800000000
현재가 = 50000
PER = 15.79
print(시가총액)
print(현재가)
print(PER)

29800000000
50000
15.79

In [14]:
#13
s = "hello"
t = "python"
print(s + ": " + t)

hello: python

In [15]:
#14
print(2 + 2 * 3)

8

In [7]:
#15
a = "132"
print("a: ", a, ": ", type(a))

a:  132 :  <class 'str'>

In [24]:
#16
num_str = "720"
int_num_str = int(num_str)
print(int_num_str, ":", type(int_num_str))

720 : <class 'int'>

In [3]:
#17
num = 100
str_num = str(num)
print(str(num), ": ", type(str_num))

100 :  <class 'str'>

In [5]:
#18
num = 100
float_num = float(num)
print(float_num, ": ", type(float_num))

100.0 :  <class 'float'>

In [9]:
#19
year = "2020"
int_year = int(year)
print(int_year - 2, "-", int_year - 1, "-", int_year)

2018 - 2019 - 2020

In [20]:
#20
price = 48584
print(price * 36)

1749024